<div class="private-projects section" id="private-projects">
    <div class="cover"></div>
    <div class="overlay"></div>

    <div class="container content">
        <nz-divider [nzText]="header"></nz-divider>
        <ng-template #header>
            <h1 nz-title class=" header">Personal Information</h1>
        </ng-template>

        <nz-carousel nzAutoPlay>
            <div nz-carousel-content *ngFor="let project of privateProjects">
                <app-private-project [project]="project"></app-private-project>
            </div>
        </nz-carousel>
    </div>
</div>