.summary {
    .cover {

        background-image: url('../../assets/background/cover2.jpg');
        background-size: cover;
    }

    .header {
        text-align: center;
    }

    .content {
        z-index: 2;
        width: 100%;
    }

    .summary-cards {

        flex: 1;
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
        width: 100%;
        overflow: hidden;
        nz-card{
            border-color: rgba(0, 0, 0, .09);
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,.9);
        }

        .summary-icon {
            font-size: 5em;
            padding: 1rem;
            width: 100%;
        }

    }

}