.summary {
    // display: flex; 
    // height: 110vh;
    .cover{

        background-image: url('../../assets/background/cover2.jpg');
        background-size: cover;
    }

    .content {
        z-index: 2;
        // position: fixed;
        // //  z-index: -1;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;

        // flex: 1
    }

    .summary-cards {

        // flex:1;
        // display: grid;
        // grid-template: 50% 1fr / 50% 1fr;
        // grid-gap: 1em;
        // width: 100%;
        // overflow: hidden;
        .summary-icon {
            // font-size: 200px;
            // margin: 10px auto;
        }
    }

    // background-color: coral;
}