<div class="history section">
    <div class="content container">
        <h1>History</h1>
        <nz-timeline [nzMode]="'left'">
            <nz-timeline-item>xExpense</nz-timeline-item>
            <nz-timeline-item>xEdu</nz-timeline-item>
            <nz-timeline-item>xHr</nz-timeline-item>
            <nz-timeline-item>xDsb</nz-timeline-item>
            <nz-timeline-item>xTao</nz-timeline-item>
            <nz-timeline-item>Fintech</nz-timeline-item>
        </nz-timeline>
    </div>
</div>