<div class="skill section" id="skill">
    <div class="overlay"></div>
    <div class="cover"></div>
    <div class="container">
        <h1>Expertise</h1>
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="8">
                <nz-card class="statistic">

                    <nz-statistic nzValue="6 years" [nzTitle]="'Java'"></nz-statistic>
                </nz-card>
            </nz-col>
            <nz-col [nzSpan]="8">
                <nz-card class="statistic">
                    <nz-statistic nzValue="6 years" [nzTitle]="'Javascript'"></nz-statistic>

                </nz-card>
            </nz-col>

            <nz-col [nzSpan]="8">
                <nz-card class="statistic">
                    <nz-statistic nzValue="6 years" [nzTitle]="'HTML/CSS'"></nz-statistic>
                </nz-card>
            </nz-col>



        </nz-row>




    </div>
</div>