<div class="main">
  <section class="personal-information-section">
    <app-personal-information class="section-component"></app-personal-information>

  </section>
  <section class="summary-section">
    <app-summary  class="section-component"></app-summary>

  </section>
  <section class="history-section">
    <app-history  class="section-component"></app-history>

  </section>
  <section class="skill-section">
    <app-skill  class="section-component"></app-skill>

  </section>
  <section class="portfolio-section">

    <app-private-projects  class="section-component"></app-private-projects>
  </section>

</div>