<div>
  <!-- <nz-anchor>
      <nz-link nzHref="#personal-information" nzTitle="Personal information"></nz-link>
      <nz-link nzHref="#summary" nzTitle="Summary"></nz-link>
      <nz-link nzHref="#skill" nzTitle="Skill"></nz-link>
      <nz-link nzHref="#private-projects" nzTitle="Private Project"></nz-link>
      
    </nz-anchor> -->
  <app-personal-information></app-personal-information>
  <app-summary></app-summary>
  <app-history></app-history>
  <app-skill></app-skill>
  <app-private-projects></app-private-projects>
</div>