<div class=" personal-information">
    <div class="content container">
        <div class="avatar">
            <img src="../../assets/avatar.jpg" class="rounded-circle" /> 
        </div>
        <div class="information">
            <div class="information-content">
                <h1 class="name">LÂM PHÚC HIẾU (Mr)</h1>
                <h5 class="email"><i nz-icon nzType="mail" nzTheme="outline"></i>phuchieuct93@gmail.com</h5>
                <h5 class="phone"><i nz-icon nzType="phone" nzTheme="outline"></i>(+84) 83 9911 602</h5>
                <h5 class="address"><i nz-icon nzType="global" nzTheme="outline"></i>Can Tho city, VietName</h5>
            </div>
            
        </div>
    </div>

</div>